
* {
    font-family: Roboto;
}

h1, h2, h3 {
    line-height: 1.2;
    margin: 16px 0;
}

h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

h4 {
    font-size: 1.953rem;
}

h5 {
    font-size: 1.563rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.icon {
    width: 25px;
}

img[alt=library-logo] {
    width: 50px;
}

header {
    height: 100vh;
    background-color: #e4dedd;
    color: #0f0f0f;
    padding: 32px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.menu {
    margin-left: auto;
    display: flex;
    gap: 16px;
    font-size: large;
}

.menu a:hover {
    text-decoration: underline;
}

input[type=search] {
    flex-grow: 1;
    height: 48px;
    padding: 8px 24px;
    line-height: 2;
    font-size: large;
    border-radius: 8px;
}

#hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 calc(100vw / 3)
}

main {
    padding: 16px calc(10vw);
    margin-bottom: 64px;
}

#available-books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

    margin-bottom: 32px;
}

.book-card {
    padding: 32px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.cover-image {
    width: 100%;
}

.book-info {
    align-self: flex-start;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-info-wrapper {
    display: flex;
    gap: 4px;
}

.book-info-label {
    font-weight: bold;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.35);
}

::backdrop {
    backdrop-filter: blur(3px);
}

body.modal-open {
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-wrapper:nth-of-type(4) {
    flex-direction: row;
    gap: 8px;
}

label {
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

label > span::after {
    content: "*";
    color: #f00;
}

.action-btns,
.form-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

input[type=text],
input[type=number] {
    padding: 8px 12px;
    height: 36px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
}

input[type=text]:focus,
input[type=number]:focus {
    outline: none;
    border: 1px solid #00f;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

input[type=text]:invalid,
input[type=number]:invalid {
    border-color: #f00;
}

input[type=checkbox] {
    transform: scale(1.2);
}

input[type=file] {
    border: 1px dotted black;
    padding: 4px;
    width: 300px;
}

button {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #0f0f0f;
    color: #e4dedd;
    font-weight: bold;
    border: none;
    text-wrap: nowrap;
}

button:hover {
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: none;
}

.remove-book-btn,
.cancel-btn {
    background-color: #e4dedd;
    color: #0f0f0f;
}

footer {
    background-color: #e4dedd;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

footer .site-info {
    display: flex;
    justify-content: space-around;
}

.copyright {
    display: flex;
    justify-content: center;
}

.site-info ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.developer-info > p {
    margin-bottom: 8px;
}

.social-media a {
    display: flex;
    align-items: center;
    gap: 8px;
}

